<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Questions</title>
</head>
<body>
    <style>
        html, body{
            height: 100%;
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(245, 245, 245); 
            font-family: 'Roboto', sans-serif;
        }

        .questions-container{
            width: 90%;
            height: 90vh;
            position: relative;
            text-align: center;
            align-items: center;
        }

        .subcontainer-top {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 200px;
            position: relative;
        }

        .button-back {
            position: absolute;
            left: 0; /* Ajusta según sea necesario */
        }

        .button-back:hover {
            cursor: pointer;
            transform: scale(1.1);
            box-shadow: 0 0 10px rgb(0, 0, 0);
        }

        .progress {
            flex-grow: 1;
            position: relative;
        }

        .progress h2{
            margin: 10px;
        } 

        .progress .progress-bar{
            border-radius: 5px;
        }

        .subcontainer-mid{
            height: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 100px;
        }

        .subcontainer-mid p{
            font-size: xx-large;
            font-weight: bold;
        }

        .subcontainer-bot {
            display: flex;
            flex-direction: row;
            justify-content: space-between; /* Distribuye los elementos en los extremos */
            align-items: center; /* Centra verticalmente los elementos */
        }

        .subcontainer-bot .skip {
            order: 1; /* Cambia el orden del botón Saltar */
        }

        .subcontainer-bot .skip:hover {
            cursor: pointer;
            transform: scale(1.1);
            box-shadow: 0 0 10px rgb(0, 0, 0);
        }

        .answers-container {
            order: 2; /* Cambia el orden de answers-container */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .subcontainer-bot .next {
            order: 3; /* Cambia el orden del botón Siguiente */
        }

        .answer {
            position: relative;
            width: 200px; 
            padding: 10px;
            height: auto;
            font-weight: 600;
            margin: 0 10px;
            background-color: #F0F0F0;
            border-radius: 10px;
            box-sizing: border-box;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); 
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .answer p{
            font-weight: normal;
            font-size: medium;
        }

        .answer:hover {
            cursor: pointer;
            transform: scale(1.07);
            box-shadow: 0 0 15px rgb(11, 21, 162);
        }

        button{
            font-size: 1.2em; 
            border: none; 
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); 
            background-color: rgb(250, 250, 250); 
            color: black; 
            padding: 10px;
            border-radius: 10px;
            font-weight: bold;
            margin: 10px;
            transition: transform 0.3s, box-shadow 0.3s;
        }
        
        button:hover{
            cursor: pointer;
            transform: scale(1.1);
            box-shadow: 0 0 15px rgb(11, 21, 162);
        }

        .progress-bar {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 5px;
            width: 100%;
            border-radius: 10px;
            background: linear-gradient(to right, #0ba20e, #0ba20e); /* Cambia estos colores según tus preferencias */
        }

        .answer.seleccionada {
            background-color: rgb(0, 216, 231);
            transform: scale(1.1);
        }

        .next[disabled] {
            /* Estilos cuando el botón está deshabilitado */
            background-color: #ccc;
            color: #999;
            cursor: not-allowed;
            transform: scale(1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); 
        }

        .skip[disabled] {
            /* Estilos cuando el botón está deshabilitado */
            background-color: #ccc;
            color: #999;
            cursor: not-allowed;
            transform: scale(1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); 
        }

        .skip[disabled]:hover {
            /* Estilos cuando el botón está deshabilitado */
            cursor: not-allowed;
            transform: scale(1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); 
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() { 
            var respuestas = document.querySelectorAll('.answer');
            var siguienteBtn = document.querySelector('.next');
            var saltarBtn = document.querySelector('.skip');
            // Deshabilita el botón "Siguiente" inicialmente
            siguienteBtn.disabled = true;
            respuestas.forEach(function (respuesta) {
                respuesta.addEventListener('click', function () {
                    respuestas.forEach(function (r) {
                        r.classList.remove('seleccionada');
                    });
                    respuesta.classList.add('seleccionada');
                    // Habilita el botón "Siguiente" cuando se selecciona una respuesta
                    siguienteBtn.disabled = false;
                });
            });

            siguienteBtn.addEventListener('click', function () {
                var selectedAnswer = document.querySelector('.seleccionada');
                var valorProgreso = document.querySelector('.valor-progreso');
                var subnivelId = valorProgreso.dataset.subnivelId;
                console.log('subnivelId: ', subnivelId);
                var numeroPregunta = parseInt(valorProgreso.dataset.preguntaNumber) + 1;

                // Verifica si se ha seleccionado una respuesta
                if (selectedAnswer) {
                    // Obtén el ID de la pregunta y la respuesta seleccionada desde el atributo data
                    var answerId = selectedAnswer.dataset.answerId;
                    console.log(answerId);

                    // Realiza una solicitud al servidor para validar la respuesta
                    fetch(`/questions/validate-answer/${answerId}`,
                        {
                            method: 'POST'
                        }
                    )
                        .then(response => response.json())
                        .then(data => {

                            // Deshabilita las respuestas después de la validación
                            respuestas.forEach(function (respuesta) {
                                respuesta.style.pointerEvents = 'none';
                                respuesta.style.backgroundColor = '#ccc';
                                respuesta.style.color = '#999';
                            });
                            // Realiza la lógica de pintar de verde o rojo según el resultado
                            if (data.result === 'correcto') {
                                selectedAnswer.style.backgroundColor = 'green';
                                selectedAnswer.style.color = 'black';
                            } else {
                                selectedAnswer.style.backgroundColor = 'red';
                                selectedAnswer.style.color = 'black';
                                // También puedes resaltar la respuesta correcta aquí si es necesario
                            }
                            // Deshabilita el botón "Siguiente" después de la validación
                            siguienteBtn.disabled = true;
                            saltarBtn.disabled = true;
                        })
                        .catch(error => console.error('Error al validar la respuesta:', error));
                }
                // Espera 2 segundos (2000 milisegundos) antes de redirigir a la siguiente pregunta
                setTimeout(() => {
                    window.location.href = `/questions/${subnivelId}/${numeroPregunta}`;
                }, 2000);
            });

            saltarBtn.addEventListener('click', function () {
                const url = window.location.href;
                // Dividir la URL en partes usando "/" como separador
                const partesURL = url.split("/");
                // Obtener los valores de :idsubnivel y :idpregunta
                const idSubnivel = partesURL[partesURL.indexOf("questions") + 1];
                const idPregunta = partesURL[partesURL.indexOf("questions") + 2];
                const nextQuestion = parseInt(idPregunta) + 1;
                console.log(nextQuestion);
                window.location.href = `/questions/${idSubnivel}/${nextQuestion}`;
            });

            var progress = document.querySelector('.progress');
            var valorText = progress.querySelector('.valor-progreso').textContent;
            var valorProgreso = parseFloat(valorText.split('#')[1]);
            var progressBar = progress.querySelector('.progress-bar');

            // Calcula el porcentaje y establece el ancho de la barra de progreso
            var porcentaje = (valorProgreso / 5) * 100;
            progressBar.style.width = porcentaje + '%';
        });
    </script>
    <div class="questions-container">
                <%- generarHTMLPregunta %>
                <!--<div class="subcontainer-top">
                    <button type="submit" id="button-back" class="button-back">Salir</button>
                    <div class="progress">
                    <h2 class="valor-progreso">Pregunta #4</h2>
                <div class="progress-bar"></div>
            </div>
        </div>
       
        <div class="subcontainer-mid">
        <p class="pregunta">¿Como se llaman a los nombre que usamos para almacenas datos?</p>
        </div>
        <div class="subcontainer-bot">
            <button type="submit" class="skip">Saltar</button>
            <div class="answers-container">
                <div class="answer">
                    <p>Variable</p>
                </div>
                <div class="answer">
                    <p>Almacenador</p>
                </div>
                <div class="answer">
                    <p>Memoria</p>
                </div>
                <div class="answer">
                    <p>Bote</p>
                </div>
            </div>
            <button type="submit" class="next">Siguiente</button>
        </div>-->
    </div>
    <script>
        document.getElementById('button-back').addEventListener('click', function() {
            // Redirigir al dashboard cuando se hace clic en el botón de retroceso
            window.location.href = '/dashboard';
        });
        document.getElementById('continue').addEventListener('click', function() {
            // Redirigir al dashboard cuando se hace clic en el botón de retroceso
            window.location.href = '/dashboard';
        });
    </script>
</body>
</html>